@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?31pfci');
  src:  url('fonts/icomoon.eot?31pfci#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?31pfci') format('truetype'),
    url('fonts/icomoon.woff?31pfci') format('woff'),
    url('fonts/icomoon.svg?31pfci#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email-2-1:before {
  content: "\e92e";
}
.icon-Icon-Box:before {
  content: "\e92f";
}
.icon-tool-16:before {
  content: "\e92d";
}
.icon-quote-left:before {
  content: "\e92c";
}
.icon-loupe:before {
  content: "\e927";
}
.icon-location-2:before {
  content: "\e901";
}
.icon-email-1:before {
  content: "\e902";
}
.icon-group:before {
  content: "\e903";
}
.icon-tool:before {
  content: "\e904";
}
.icon-profile:before {
  content: "\e905";
}
.icon-tool-15:before {
  content: "\e906";
}
.icon-tool-14:before {
  content: "\e907";
}
.icon-tool-13:before {
  content: "\e908";
}
.icon-traces:before {
  content: "\e909";
}
.icon-phone-1:before {
  content: "\e90a";
}
.icon-tool-9:before {
  content: "\e90b";
}
.icon-tool-8:before {
  content: "\e90c";
}
.icon-tool-7:before {
  content: "\e90d";
}
.icon-down:before {
  content: "\e90e";
}
.icon-up:before {
  content: "\e90f";
}
.icon-chat:before {
  content: "\e910";
}
.icon-date:before {
  content: "\e911";
}
.icon-qoutes-1:before {
  content: "\e900";
}
.icon-provides:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-be:before {
  content: "\e914";
}
.icon-linkedln:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-fb:before {
  content: "\e917";
}
.icon-read-more:before {
  content: "\e918";
}
.icon-play-video:before {
  content: "\e919";
}
.icon-quotes:before {
  content: "\e92a";
}
.icon-uniE919:before {
  content: "\e91a";
}
.icon-phone:before {
  content: "\e91b";
}
.icon-left-down-arrow:before {
  content: "\e91c";
}
.icon-right-down-arrow:before {
  content: "\e91d";
}
.icon-tool-6:before {
  content: "\e91e";
}
.icon-tool-5:before {
  content: "\e91f";
}
.icon-next:before {
  content: "\e920";
}
.icon-tool-4:before {
  content: "\e921";
}
.icon-tool-3:before {
  content: "\e922";
}
.icon-tool-2:before {
  content: "\e923";
}
.icon-toggle:before {
  content: "\e924";
}
.icon-clock:before {
  content: "\e925";
}
.icon-gmail:before {
  content: "\e926";
}
.icon-logo:before {
  content: "\e929";
}
.icon-close:before {
  content: "\e92b";
}
.icon-chevron-thin-down:before {
  content: "\e928";
}
.icon-instagram:before {
  content: "\ea92";
}
