@use "../abstracts/index" as *;

.wg-blog-details {
    max-width: 810px;

    .box-content {
        border: 1px solid var(--line-2);
        padding: 30px 50px 50px 50px;
    }

    .image-blog {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}


.meta-post {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding-bottom: 19px;
    border-bottom: 1px solid var(--line-2);

    .meta-post-item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 30px;
        border-right: 1px solid var(--line-2);

        i {
            color: var(--main-color);
        }

        &:last-child {
            border-color: transparent;
        }
    }
}

.wg-quote {
    background-color: var(--natural-2);
    padding: 40px 60px;
    position: relative;


    img {
        position: absolute;
        top: 34px;
        left: 101px;
        color: var(--primary-1);
        font-size: 130px;
    }

    .text {
        font-size: 20px;
        line-height: 32px;
        color: var(--text-color-1);
        font-family: $font-2;
        margin-bottom: 30px;
        text-align: center;
    }

    .name-quote {
        padding-left: 65px;
        position: relative;
        max-width: 203px;
        margin-left: auto;
        margin-right: auto;

        .line-name {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 1px;
            background-color: var(--primary-1);
        }
    }

    &.style-2 {
        background-color: var(--text-color-1);
        padding: 60px 80px;

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 118px;
            color: var(--line-1);
            font-size: 200px;
        }

        .text {
            color: var(--white-2);
            margin-bottom: 0;
            text-align: start;
        }
    }
}

.list-benefit {
    .benefit-item {
        padding-left: 16px;
        position: relative;
        font-weight: 500;
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--text-color-1);
        }
    }
}

.blog-details-content {
    .title-blog-details {
        margin-bottom: 20px;
    }

    &.content-2 {
        .title-blog-details {
            margin-bottom: 15px;
        }
    }
}

.tabs-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .tabs-item {
        padding: 6px 24px;
        border: 1px solid var(--text-color-5);
        color: var(--text-color-1);

        &:hover {
            background-color: var(--main-color);
            border-color: var(--main-color);
        }
    }
}

.tag-social {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--line-2);
}

.list-btn-details {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--line-2);
    gap: 15px;

    .btn-grid {
        margin-top: 50px;
    }
}

.comment-item {
    display: flex;
    gap: 30px;

    .comment-content {
        padding-bottom: 30px;
        border-bottom: 1px solid var(--line-2);
    }

    .top {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 17px;
        flex-wrap: wrap;
        gap: 15px 30px;

        .top-left {
            display: flex;
            gap: 10px 30px;
            align-items: center;
            flex-wrap: wrap;
        }

        .date {
            color: var(--text-color-3);
            font-size: 12px;
            line-height: 24px;
            font-family: $font-3;
        }
    }

    .line-comment {
        background-color: var(--text-color-4);
        width: 1px;
        height: 15px;
    }

    .text {
        color: var(--text-color-2);
    }

    &.reply {
        padding-top: 40px;
        margin-left: 90px;

    }
}

.sidebar-item {
    max-width: 300px;

    .title-content {
        padding-bottom: 5px;
        margin-bottom: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 1px;
            background-color: var(--main-color);
        }
    }

    h4 {
        letter-spacing: 0.1px !important;
        padding-bottom: 24px !important;
        font-family: $font-2;
    }

    &.sidebar-content {
        padding: 40px;
        border: 1px solid var(--line-2);
    }

    &.sidebar-search {
        .title-content {
            padding-bottom: 0 !important;
            margin-bottom: 23px;

            &::before {
                display: none !important;
            }
        }
    }

    &.sidebar-categories {

        .item {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 26.5px;
            justify-content: space-between;

            i {
                font-size: 12px;
                color: var(--text-color-1);
                @include transition3();
            }

            a {
                color: var(--text-color-1);
            }

            &:hover {

                a,
                i {
                    color: var(--main-color);
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.sidebar-recent-post {
        .post-list {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.sidebar-tags {
        padding-right: 30px;
    }

}

.post-list {
    display: flex;
    align-items: center;
    gap: 20px;

    .image {
        max-width: 70px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .post-title {
        color: var(--text-color-1);
        margin-bottom: 5px;
    }

    .date-post {
        display: flex;
        gap: 10px;
        align-items: center;

        i {
            color: var(--main-color);
        }

        a {
            color: var(--text-color-3);
            font-family: $font-3;
        }
    }
}

.wg-help {
    position: relative;

    .image-bg {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../images/blog/img-bg-help-2.png");
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .help-content {
        text-align: center;
        background-color: var(--white-2);
        position: absolute;
        bottom: 10px;
        left: 30px;
        right: 30px;
        padding-bottom: 40px;

        .text {
            margin-bottom: 2px;
            font-family: $font-3;
        }

        .number-phone {
            margin-bottom: 7px;
        }
    }

    .help-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--main-color);
        @include flex(center, center);
        margin-top: -29px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        i {
            font-size: 30px;
            color: var(--text-color-1);
        }
    }
}

.wg-join-community {
    position: relative;

    .image-overlay {
        background-color: var(--text-color-1);
        opacity: 80%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .join-community-content {
        position: relative;
        z-index: 2;
        padding-top: 80px;
        padding-bottom: 80px;

        .title {
            color: var(--white-2);
        }
    }
}

.list-blog {
    max-width: 810px;

    .post-gird {
        margin-bottom: 30px;

        &:nth-child(4) {
            margin-bottom: 84px;
        }
    }

    .wg-quote {
        margin-bottom: 60px;
    }
}

.post-gird {
    .image {
        max-width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .post-content {
        background-color: var(--white-2);
        padding: 30px 40px 40px 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: calc(100% - 80px);
        margin-top: -150px;
        position: relative;
        box-shadow: 0px 10px 50px 0px #00000014;

    }

    .title {
        margin-bottom: 20px;

        a {
            font-family: $font-3;
        }
    }

    .desc {
        margin-bottom: 30px;
    }
}

.dot-pagination {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--text-color-1);
    display: block;
}

.wg-pagination {
    .dot-pagination {
        margin-left: 15px;
        margin-right: 15px;
    }

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    a {
        display: inline-block;
        width: 50px;
        height: 50px;
        @include flex(center, center);
        border-radius: 50%;
        border: 1px solid var(--line-2);
        color: var(--text-color-1);

        &.active {
            background-color: var(--main-color);
            border-color: var(--main-color);
        }

        &:hover {
            background-color: var(--main-color);
            border-color: var(--main-color);

        }
    }
}

//pricing-plan




//instructor
.card-item {
    width: 100%;
    height: auto;

    .card-item-img {
        padding-left: 40px;
        padding-right: 40px;
        border-left: 1px solid var(--natural-2);
        border-right: 1px solid var(--natural-2);

    }
}