@use "../abstracts/index" as *;

//header
.header-default {
    &.style-2 {
        margin-bottom: -110px;
        position: sticky;
        z-index: 999;
    }

}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;


    .header-right {
        display: flex;
        gap: 60px;
        padding-right: 140px;


    }

    &.style-1 {
        justify-content: space-between;

        .header-right {
            padding-right: 85px;
        }
    }

    &.style-2 {
        height: 110px;
        justify-content: space-between;

        .header-right {
            padding-right: 85px;
        }
    }

    &.style-3 {
        height: 110px;
        justify-content: space-between;
        border-bottom: 1px solid var(--line-1);

        .header-right {
            padding-right: 0px;
            gap: 75px;

        }
    }

}

.header-right {

    &.style-1 {
        gap: 70px;

        .header-line {
            display: block;
            height: 40px;
            width: 1px;
            background-color: var(--text-color-1);
            opacity: 15%;
        }

        .icon-toggle {
            font-size: 40px;

        }

        .header-line {
            margin-left: 70px;
            margin-right: 60px;
        }


    }
}

@media (max-width: 1600px) {
    .header-right {
        &.style-1 {
            padding-right: 5px !important;
        }



    }

    .box-nav-menu.style-1 {
        gap: 30px !important;
        padding-right: 10px !important;
    }

    .header-line {
        display: none !important;
    }

    .header-icons {
        gap: 25px !important;
    }
}

@media (max-width: 1200px) {

    .header-inner {
        gap: 20px;

        &.style-1 {
            justify-content: space-between;
            gap: 0;
        }

        .header-right {
            gap: 20px;
            padding-right: 0 !important;
        }
    }

    .box-nav-menu {
        display: none;
        gap: 0;
        padding-right: 0;
    }

    .header-line {
        display: none !important;
    }

    .header-icons {
        padding-right: 15px;

        .icon-loupe {
            padding-right: 30px;
        }


    }
}

@media (max-width: 1199px) {

    .header-icons {
        padding-right: 15px;

        .icon-loupe {
            padding-right: 0px !important;
        }


    }
}

.header-icons {
    &.style-1 {
        a {
            .icon-loupe {
                color: var(--white-1);
            }

            .icon-toggle {
                color: var(--white-1);
            }
        }
    }
}



.mobile-button {
    &.style-1 {
        span {
            background-color: var(--white-1);
        }
    }
}

.logo-header {
    background-color: var(--main-color);
    padding: 30px 160px 30px 120px;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

    height: 100px;

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        display: flex;
        text-decoration: none;
    }

    &.style-1 {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        padding: 30px 250px 30px 100px !important;
    }

    &.style-2 {
        background-color: transparent;
        clip-path: none;
        padding: 35px 60px 40px 100px !important;
        height: 110px;
    }

    &.style-3 {
        background-color: var(--line-1);
        clip-path: none;
        padding: 35px 60px 40px 100px !important;
        height: 110px;
        align-items: center;

        a {
            color: var(--white-2);

            span {
                font-size: 30px;
            }
        }
    }
}

.box-nav-menu {
    gap: 60px;
    padding-right: 130px;


    &.style-1 {
        gap: 65px;
        padding-right: 25px;
    }

    &.style-2 {
        gap: 65px;
        padding-left: 285px;
        padding-right: 0px;
    }

    &.style-3 {
        gap: 60px;
        padding-right: 0px !important;
        padding-left: 100px !important;

    }
}

//topbar
.tf-topbar {
    background-color: var(--text-color-1);
    padding: 9px 0px;

    .topbar-wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .topbar-left {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .topbar-right {
            display: flex;
            align-items: center;
            gap: 30px;
        }

    }

    .topbar-content {
        display: flex;
        align-items: center;

        i {
            color: var(--main-color);
            padding-right: 10px;
            font-size: 18px;
        }

        a {
            color: var(--white-2);

            &:hover {
                color: var(--main-color);
            }
        }
    }


}

.wg-social {
    display: flex;
    align-items: center;
    gap: 10px;

    ul {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .social-item {
        i {
            color: var(--white-2);
            @include transition3();
            font-size: 14px;
        }

        &:hover {
            i {
                color: var(--main-color);
            }
        }
    }

    p {
        color: var(--white-2);
    }

    &.style-text-color-1 {
        .social-item {
            i {
                color: var(--text-color-1);
            }

            &:hover {
                i {
                    color: var(--primary-1);
                }
            }
        }
    }

    &.style-border {

        .social-item {
            width: 50px;
            height: 50px;
            @include flex(center, center);
            border: 1px solid var(--line-3);
            border-radius: 50%;

            i {
                font-size: 12px;
                color: var(--text-color-3);
            }

            &:hover {
                background-color: var(--main-color);

                i {
                    color: var(--white-2);
                }
            }
        }
    }

    &.style-1 {
        gap: 30px;

        ul {
            display: flex;
            align-items: center;
            gap: 35px;
            font-size: 20px;
        }
    }
}

.tf-languages {
    padding: 3px 20px 3px 20px !important;
}

.menu-item {
    position: relative;

    .item-link {
        line-height: 96px;

        span {
            position: relative;
            z-index: 2;
            font-weight: 600;
            font-weight: bold;
            font-family: $font-4;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 41px;
            width: 0;
            height: 4px;
            background-color: var(--main-color);
            transition: width 0.3s ease;
        }
    }

    a {
        position: relative;
        text-decoration: none;
        color: inherit;
    }

    &.menu-item-has-children {
        .item-link {
            display: inline-block;
            padding-right: 15px;

            &::after {
                content: "+";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                line-height: 10px;
                @include transition3();
                font-weight: 700;

            }
        }

        &:hover {
            .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                pointer-events: auto;
                top: 100%;

                &.style-1 {
                    top: 110% !important;
                }
            }
        }
    }

    &:hover {
        .item-link {
            &::before {
                width: 100%;
            }
        }
    }

}

.menu-item {
    .item-link.style-1 {

        color: var(--white-1);

    }
}



//icon dot
.icon-line {
    width: 1px;
    background-color: var(--white-2);
    height: 20px;
    opacity: 10%;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: -10px;
    width: 200px;
    height: auto;
    background: var(--white-2);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
    pointer-events: none;
    z-index: 2000;
    overflow: hidden;

    &.style-1 {
        top: 110% !important;
    }

    .menu-list {
        a {
            padding: 10px;
            width: 100%;
            text-transform: uppercase;

            &:hover {
                background-color: var(--main-color);
            }
        }
    }
}

.menu-heading {
    font-weight: bold;
    font-size: 18px;
    padding-right: 27px;
}

.nav-icon {
    .nav-item-icon {
        color: var(--text-color-1);

        &:hover {
            color: var(--main-color);
        }

        &.style-1 {
            color: var(--white-2);

            &:hover {
                color: var(--main-color);
            }
        }

    }

    .nav-search {
        i {
            font-size: 20px;
        }
    }

    .nav-megamenu {
        i {
            font-size: 40px;
        }
    }

}

.mobile-button {
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--text-color-1);

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }
}



.mobile-nav-wrap {
    max-width: 300px;
    width: 100%;

    .inner-mobile-nav {
        padding: 20px;
        width: 100%;
        height: 100%;
        background-color: var(--white-2);
        z-index: 99999;
        overflow-y: auto;
        @include transition4();

        .mobile-nav-close {
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;

            svg {
                width: 15px;
                height: 15px;
            }
        }

        .top-header-mobi {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        a {
            color: var(--white);
        }

    }

    .logo-mobile {
        max-width: 120px;
    }

    .socials-mobile {
        .date {
            display: flex;
            gap: 8px;
            align-items: center;
            padding-bottom: 10px;
        }

        .socials-icon {
            display: flex;
            align-items: center;

            .socials-item {
                width: 40px;
                height: 40px;

                a {
                    @include flex(center, center);
                }

                @include transition3();

                &:first-child,
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    border-right: 0;
                }

                &:hover {

                    i {
                        color: var(--primary);
                    }
                }

            }
        }
    }

    .mobile-main-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 94%;
    }
}