@use "../abstracts/index" as *;

/* ========== home-2 ========== */



.swiper-slide-active {
    .box-content {
        opacity: 1;
        transform: translateY(0) scale(1);

        b,
        h1,
        p,
        .tf-btn-1 {
            opacity: 1;
            transform: translateY(0) scale(1);
        }

        .tf-btn-1 {

            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}


.sw-dot-default {
    display: flex;
    gap: 0px !important;

    .swiper-pagination-bullet {
        width: 26px;
        height: 26px;
        @include flex(center, center);
        @include transition3;
        background-color: transparent;
        border: 1px solid transparent;
        position: relative;
        opacity: 1;

        &:before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 999px;
            background-color: var(--black);
            @include transition3;
        }
    }

    .swiper-pagination-bullet-active {
        border-color: var(--black);

        &::before {
            background-color: var(--black);
        }
    }

    &.style-1 {
        .swiper-pagination-bullet {
            &:before {
                background-color: var(--main-color);
            }
        }

        .swiper-pagination-bullet-active {

            border-color: var(--main-color);

            &::before {
                background-color: var(--main-color);
            }
        }
    }

    &.style-2 {
        .swiper-pagination-bullet {
            &:before {
                background-color: var(--main-color);
            }
        }

        .swiper-pagination-bullet-active {

            border-color: var(--main-color);

            &::before {
                background-color: var(--main-color);
            }
        }
    }

}


/* ========== portfolio ========== */

.sw-dot-default {
    display: flex;
    gap: 0px !important;


    .swiper-pagination-bullet {
        width: 26px;
        height: 26px;
        @include flex(center, center);
        @include transition3;
        background-color: transparent;
        border: 1px solid transparent;
        position: relative;
        opacity: 1;

        &:before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 999px;
            background-color: var(--black);
            @include transition3;
        }
    }

    .swiper-pagination-bullet-active {
        border-color: var(--black);

        &::before {
            background-color: var(--black);
        }
    }

    &.style-1 {
        .swiper-pagination-bullet {
            &:before {
                background-color: var(--main-color);
            }
        }

        .swiper-pagination-bullet-active {

            border-color: var(--main-color);

            &::before {
                background-color: var(--main-color);
            }
        }
    }
}


/* ========== home ========== */

.tf-slider-show {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    height: calc(102vh - 150px);

    &.style-2 {
        height: 95vh;
    }

    &.style-3 {
        height: calc(101vh - 150px);
    }

}


.slider-home-left {
    width: 100px;
    background: var(--text-color-1);
    padding: 50px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    writing-mode: sideways-lr;
    position: relative;
    background: var(--text-color-1);
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0 0 auto 0;
        height: 46%;
        background: var(--main-color);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
        z-index: 1;
    }

    @media (max-width: 1199px) {
        display: none;
    }
}

.slider-home-right {
    flex: 1;
    height: 100%;

    .slider-wrap {
        height: 100%;
        width: 100%;
        position: relative;

        .image {
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .over-play {
            position: absolute;
            inset: 0;

        }


        .box-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;

            z-index: 10;
        }

        .image {
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .over-play {
            position: absolute;
            inset: 0;
            background: var(--line-24);
        }

        .content-slider {
            background-color: var(--white-2);
            padding: 60px;
            clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 70%, 70% 100%, 19% 100%, 0 100%, 0 0);
            width: fit-content;

            .intro-text {
                color: var(--main-color);
                font-family: $font-5;
                padding-bottom: 15px;
            }

            h2 {
                margin-bottom: 20px;
            }

            .description-text {
                margin-bottom: 50px;
                font-family: $font-2;
            }
        }
    }
}



.slider-wrap.style-2 {
    position: relative;
    height: 100%;
    width: 100%;

    .image {
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .over-play {
        position: absolute;
        inset: 0;
        background: var(--line-21);
    }

    .box-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        // max-width: 1170px;

        z-index: 10;

        .intro-text {
            color: var(--main-color);
            font-family: $font-5;
            padding-bottom: 15px;
        }

        h1 {
            font-family: $font-6;
            margin-bottom: 20px;
        }

        h1,
        .description-text {
            color: var(--white-2);
        }

        .description-text {
            margin-bottom: 50px;
            font-family: $font-2;
        }
    }

    .content-slider {
        &.style-2 {
            background-color: transparent !important;
            padding: 0px;
            clip-path: none !important;

        }

    }


}

.slider-wrap.style-3 {
    position: relative;
    height: 100%;
    width: 100%;

    .image {
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .over-play {
        position: absolute;
        inset: 0;
        background: var(--line-25);
    }

    .box-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;


        z-index: 10;

        .intro-text {
            color: var(--main-color);
            font-family: $font-5;
            padding-bottom: 15px;
        }

        h1 {
            font-family: $font-6;
            margin-bottom: 20px;
        }

        h1,
        .description-text {
            color: var(--white-2);
        }

        .description-text {
            margin-bottom: 50px;
            font-family: $font-2;
        }
    }

    .content-slider {
        &.style-2 {
            background-color: transparent !important;
            padding: 0px;
            clip-path: none !important;

        }

    }


}

.slider-wrap.style-4 {
    position: relative;
    height: 100%;
    width: 100%;

    .image {
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .over-play {
        position: absolute;
        inset: 0;
        background: var(--line-25);
    }

    .box-content {
        position: absolute;
        top: 50%;
        transform: translateY(-37%) !important;
        left: 0;
        right: 0;


        z-index: 10;

        .intro-text {
            color: var(--main-color);
            font-family: $font-5;
            padding-bottom: 15px;
        }

        h1 {
            font-family: $font-6;
            margin-bottom: 20px;
        }

        h1,
        .description-text {
            color: var(--white-2);
        }

        .description-text {
            margin-bottom: 50px;
            font-family: $font-2;
        }
    }

    .content-slider {
        &.style-2 {
            background-color: transparent !important;
            padding: 0px;
            clip-path: none !important;

        }

    }


}

// Desktop với sidebar (≥1200px)
@media (min-width: 1200px) {
    .slider-wrap.style-2 {
        .box-content {
            margin-left: calc((100vw - 1170px) / 2 - 110px);
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

// Animation cho slider
.slider-wrap {
    .box-content {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
        transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);

        b,
        h1,
        p,
        .tf-btn-1 {
            opacity: 0;
            transform: translateY(20px) scale(0.95);
            transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
        }

        b {
            transition-delay: 0.1s;
        }

        h1 {
            transition-delay: 0.25s;
        }

        p {
            transition-delay: 0.4s;
        }

        .tf-btn-1 {
            transition-delay: 0.55s;
        }
    }
}

// Active slide animation
.swiper-slide-active {
    .slider-wrap .box-content {
        opacity: 1;
        transform: translateY(-50%) scale(1);

        b,
        h1,
        p,
        .tf-btn-1 {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
}

/* ============================================================
   RESPONSIVE - FIX CHIỀU CAO THEO BREAKPOINT
   ============================================================ */

// // XL: < 1200px - Ẩn sidebar, reset margin
@media (max-width: 1199px) {
    .slider-home-left {
        display: none;
    }

    .tf-slider-show {
        height: 75vh !important;

    }

    .slider-wrap.style-2 {
        .box-content {
            margin-left: auto;
            margin-right: auto;
            padding: 0 15px;
        }
    }

}

// LG: < 992px
@media (max-width: 991px) {
    .tf-slider-show {
        height: 50vh !important;

    }

    .box-content {
        .content-slider {
            padding: 30px !important;
        }
    }
}

// MD: < 768px
// @media (max-width: 767px) {
//     .slider-wrap.style-2 {
//         .image {
//             height: 50vh !important;


//             img {
//                 height: 50vh !important;
//             }

//             .over-play {
//                 height: 50vh !important;
//             }
//         }

//         .box-content {
//             padding: 0 20px;

//             h1 br {
//                 display: none;
//             }

//             p br {
//                 display: none;
//             }
//         }
//     }
// }

@media (max-width: 767px) {
    .slider-wrap {
        .image {
            height: 50vh !important;


            img {
                height: 50vh !important;
            }

            .over-play {
                height: 50vh !important;
            }
        }

        &.style-2 {
            .box-content {
                h1 br {
                    display: none;
                }

                p br {
                    display: none;
                }
            }
        }
    }
}

// SM: < 576px
@media (max-width: 575px) {

    .tf-slider-show {
        height: 40vh !important;

    }

    .slider-wrap {
        height: 40vh !important;

        p {
            display: none !important;
        }

        h1 {
            margin-bottom: 20px !important;
        }

        .image {
            height: 40vh !important;
            min-height: 450px;

            img {
                height: 40vh !important;
            }

            .over-play {
                height: 40vh !important;
            }
        }

        // &.style-2 .box-content {
        //     padding: 0 15px;
        // }
    }
}

// XS: < 480px
// @media (max-width: 480px) {
//     .slider-home-right {
//         .slider-wrap {
//             .content-slider {
//                 padding: 15px;


//             }
//         }
//     }

//     .slider-wrap.style-2 {
//         height: 58vh !important;
//         min-height: 400px;

//         .image {
//             height: 58vh !important;
//             min-height: 400px;

//             img {
//                 height: 58vh !important;

//             }

//             .over-play {
//                 height: 58vh !important;
//             }
//         }
//     }
// }



.slider-wrap {
    position: relative;
    overflow: hidden;
}

.slider-images {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.slider-images img {
    position: absolute;
   
    transform: translateX(100px);
    transition: all 0.8s ease;
}

.slider-images .img-car {
    right: 0;
    bottom: 0;
    z-index: 2;
}

.slider-images .img-driver {
    right: 120px;
    bottom: 80px;
    z-index: 1;
}
