@use "../abstracts/index" as *;

[data-animate] {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s ease;
}

[data-animate].animated {
    opacity: 1;
    transform: translateY(0);
}


[data-animate="fade-left"] {
    transform: translateX(-60px);
}
[data-animate="fade-right"] {
    transform: translateX(60px);
}
[data-animate="fade-up"] {
    transform: translateY(60px);
}
