$font-main: "Reddit Sans", sans-serif;

$fontIcon: "icomoon";

:root {
    //main color
    --main-color: #FEE100;
    --primary-1: #598216;
    --primary-2: #F6C206;
    //text color
    --text-color-1: #382C25;
    --text-color-2: #FFFFFF;
    --text-color-3: #CDB9A4;
    --text-color-4: #E8E8E6;



    --dark-5: #171717;
    --dark-6: #1F1E17;
    --dark-7: #333334;
    --text-color-5: #CCCCCC;
    --text-color-6: #000000;

    --white-1: #F6F6F6;
    --white-2: #FFFFFF;

    //natural color
    --white-3: #F8F8F8;
    --white-4: #F4F9FD;
    --natural-1: #D9D9D9;
    --natural-2: #F2F0EC;

    // line
    --line-1: rgba(255, 255, 255, 0.1);

    --black: #000000;
    //rgba

}